.btn {
  width: 148px;
  height: 48px;
  background-color: #2699fb;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  font-weight: bold;
}

.btn:active {
  background-color: #007feb;
}

.btn-lg {
  width: 100px;
}

.input {
  box-sizing: border-box;
  width: 204px;
  height: 48px;
  padding: 0 20px;
  color: #64b2f0;
  border: solid 1px #64b2f0;
  font-size: 14px;
}

.input::placeholder {
  color: #bce0fd;
}

.row {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-input label {
  font-size: 12px;
  color: #64b2f0;
}

#meter {
  width: 100%;
}

#result {
  display: none;
  width: 588px;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  margin-top: 24px;
}

.res-text {
  color: #64b2f0;
}

.res-text > div:nth-child(1) {
  font-size: 32px;
}

.res-text > div:nth-child(2) {
  font-size: 24px;
}
